:root {
  --primary: #415167;
  --accent-dark: #c7a17a;
  --accent-light: #f9f5e8;
  --dark-grey: #151d28;
  --light-grey: #edf0f5;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 60px;
  /* background-color: transparent; */
  background-color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

section {
  width: 100%;
  height: 100vh;
}

section.firstSection {
  height: calc(100vh - 60px);
}

.firstSection {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

.firstPanel {
  background-color: white;
}

.imagePanel {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("assets/img/Баннер.png");
}

.menuPanel {
  display: flex;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
}

.menuPanel ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.menuPanel ul li > a {
  text-decoration: none;
  font-size: 20px;
  color: var(--accent-light);
}

.secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  gap: 50px;
  padding: 120px 0px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-around;
}

.description article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.description article img {
  width: 100px;
  height: 100px;
}

.description article span {
  text-align: center;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.backgroundGrid {
  z-index: 0;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  grid-template-columns: 1.5fr 6fr;
  pointer-events: none;
}

.backgroundGrid .firstBg {
  background-color: var(--primary);
}

.backgroundGrid .secondBg {
  background-color: transparent;
}

.thirdSection > *:not(.backgroundGrid) {
  position: relative;
  z-index: 1;
}

.coffeeCards {
  display: grid;
  grid-template-rows: 2fr 2fr;
}

.coffeeCards .firstLine,
.coffeeCards .secondLine {
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: var(--primary);
}
