@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary: #415167;
  --accent-dark: #c7a17a;
  --accent-light: #f9f5e8;
  --backgroung-grey: #f8fbff;
  --dark-grey: #151d28;
  --light-grey: #edf0f5;

  --font-display-large-family: "Montserrat", system-ui, sans-serif;
  --font-display-large-size: 54px;
  --font-display-large-line: 70px;
  --font-display-large-weight: 900;

  --font-display-medium-family: "Montserrat", system-ui, sans-serif;
  --font-display-medium-size: 30px;
  --font-display-medium-line: 34px;
  --font-display-medium-weight: 900;

  --font-title-family: "Nunito", system-ui, sans-serif;
  --font-title-size: 24px;
  --font-title-line: 28px;
  --font-title-weight: 700;

  --font-subtitle-size: 20px;
  --font-subtitle-line: 24px;
  --font-subtitle-weight: 600;

  --font-body-size: 16px;
  --font-body-line: 20px;
  --font-body-weight: 400;

  --font-subtitle-family: "Nunito", system-ui, sans-serif;
  --font-button-size: 16px;
  --font-button-line: 20px;
  --font-button-weight: 700;

  --font-price-size: 20px;
  --font-price-line: 24px;
  --font-price-weight: 400;
}

.text-display-large {
  font-family: var(--font-display-large-family);
  font-size: var(--font-display-large-size);
  line-height: var(--font-display-large-line);
  font-weight: var(--font-display-large-weight);
  color: var(--primary);
}

.text-display-medium {
  font-family: var(--font-display-medium-family);
  font-size: var(--font-display-medium-size);
  line-height: var(--font-display-medium-line);
  font-weight: var(--font-display-medium-weight);
  color: var(--primary);
}

.text-title {
  font-family: var(--font-title-family);
  font-size: var(--font-title-size);
  line-height: var(--font-title-line);
  font-weight: var(--font-title-weight);
}

.text-subtitle {
  font-family: var(--font-subtitle-family);
  font-size: var(--font-subtitle-size);
  line-height: var(--font-subtitle-line);
  font-weight: var(--font-subtitle-weight);
  color: var(--primary);
}

.text-button {
  font-family: "Nunito", system-ui, sans-serif;
  font-size: var(--font-button-size);
  line-height: var(--font-button-line);
  font-weight: var(--font-button-weight);
}

.text-price {
  font-family: "Nunito", system-ui, sans-serif;
  font-size: var(--font-price-size);
  line-height: var(--font-price-line);
  font-weight: var(--font-price-weight);
  color: var(--accent-dark);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", system-ui, sans-serif;
  font-size: var(--font-body-size);
  line-height: var(--font-body-line);
  font-weight: var(--font-body-weight);
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 60px;
  /* background-color: transparent; */
  background-color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button.accent {
  background-color: var(--accent-dark);
  border-radius: 20px;
  color: var(--accent-light);
  width: 100px;
  transition: scale 0.2s ease-in-out;
}

button.accent:hover {
  scale: 1.1;
}

section {
  width: 100%;
  height: 100vh;
  background-color: var(--backgroung-grey);
}

section.firstSection {
  height: calc(100vh - 60px);
}

.firstSection {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

.imagePanel {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/Баннер.png");
}

.menuPanel {
  display: flex;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
}

.menuPanel ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.menuPanel ul li > a {
  text-decoration: none;
  color: var(--accent-light);
}

.secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  gap: 50px;
  padding: 120px 0px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-around;
}

.description article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.description article img {
  width: 70px;
  height: 70px;
}

.description article span {
  text-align: center;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.thirdSection .backgroundGrid {
  z-index: 0;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  grid-template-columns: 1.5fr 6fr;
  pointer-events: none;
}

.backgroundGrid .firstBg {
  background-color: var(--primary);
}

.backgroundGrid .secondBg {
  background-color: transparent;
}

.thirdSection > *:not(.backgroundGrid) {
  position: relative;
  z-index: 1;
}

.coffeeCards {
  display: grid;
  grid-template-rows: 2fr 2fr;
  gap: 25px;
}

.coffeeCards .firstLine,
.coffeeCards .secondLine {
  display: flex;
  gap: 25px;
}

.coffeeCards article {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 250px;
  width: 450px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(21, 29, 40, 0.12);
}

article > img {
  width: 220px;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 40px;
}

.fourthSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.fourthSection .backgroundGrid {
  z-index: 0;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  grid-template-columns: 6fr 1.5fr;
  pointer-events: none;
}

.fourthSection .backgroundGrid .firstBg {
  background-color: var(--light-grey);
}

.fourthSection .backgroundGrid .secondBg {
  background-color: transparent;
}

.fourthSection > *:not(.backgroundGrid) {
  position: relative;
  z-index: 1;
}

.fourthSection > article {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(21, 29, 40, 0.12);
}

.fourthSection > article > img {
  position: absolute;
  left: -250px;
  top: 20px;
  height: 380px;
  width: 400px;
}

.fourthSection > article .info {
  margin-left: 200px;
  width: 100%;
}

.moreInfo {
  display: flex;
  align-items: center;
}

.moreInfo img {
  width: 40px;
  height: 40px;
}

.fifthSection {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.fifthSection .backgroundGrid {
  z-index: 0;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  grid-template-columns: 6fr 1.5fr;
  pointer-events: none;
}

.fifthSection .backgroundGrid .firstBg {
  background-color: transparent;
}

.fifthSection .backgroundGrid .secondBg {
  background-color: var(--primary);
}

.fifthSection > *:not(.backgroundGrid) {
  position: relative;
  z-index: 1;
}

.fifthSection .cards {
  display: flex;
  gap: 20px;
}

.cards article {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  height: 500px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(21, 29, 40, 0.12);
}

.cards article img {
  width: 260px;
  height: 220px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: var(--primary);
  color: var(--light-grey);
}
